<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Clientes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  </head>
  <body>
    
    <div class="container">

        <a href="create_client/" class="btn btn-outline-dark mt-5">Crear Nuevo</a>

        <table class="table table-bordered table-info mt-5 text-center">
        <thead>
            <tr>
            <th>Id</th>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <th>{{ cliente.id }}</th>
                    <td>{{ cliente.cedula }}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido }}</td>
                    <td>
                        <a href="detail_client/{{ cliente.id }}" class="btn btn-danger">Ver mas</a>
                        <a href="edit_client/{{ cliente.id }}" class="btn btn-success">Editar</a>
                        <a href="delete_client/{{ cliente.id }}" class="btn btn-primary">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>


    </div>


  </body>
</html>
