<p>
    {{view_client.id}}
</p><p>
    {{view_client.cedula}}
</p><p>
    {{view_client.nombre}}
</p><p>
    {{view_client.apellido}}
</p><p>
    {{view_client.cliente_prioridad}}
</p><p>
    {{view_client.TipoCliente}}
</p>